.insurance__top {
  margin-bottom: 50px;
  text-align: center;
}

.insurance__top h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.insurance__top p {
  color: var(--heading-color);
  font-size: 1.1rem;
  line-height: 28px;
}

.insurance__wrapper {
  background: var(--bg-gradient);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 60px;
}

.insurance__item {
  display: flex;
  align-items: center;
  column-gap: 1.2rem;
  width: 33%;
}

.insurance__icon {
  width: 20%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: #fff;
}

.insurance__icon img {
  width: 100%;
}

.insurance__content {
  width: 80%;
}

.insurance__content h4 {
  font-size: 1.3rem;
  color: #fff;
  font-weight: 500;
  margin-bottom: 0.6rem;
}

.insurance__content p {
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.801);
}

@media (max-width: 450px) {
  .insurance__top p {
    font-size: 1rem;
    line-height: 28px;
    padding-left: 25px;
  }

  .insurance__wrapper {
    flex-direction: column;
    width: 100%;
    padding: 27px;
    margin: 2px;
    gap: 8px;
  }

  .insurance__item {
    column-gap: 1.6rem;
    width: 100%;
  }
}
