.wallet-component-wrapper {
  /* position: relative;
    z-index: 1; */
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 0.3rem;
}

.connect-wallet-wrapper {
  background-color: var(--primary-color);
  color: white;
  display: flex;
  align-items: center;
  height: 2rem;
  width: 11rem;
}

.connect-wallet-wrapper button {
  margin-right: 10px;
  font-size: 14px;
}

.connect-wallet-wrapper span {
  margin-right: 10px;
}

.connecting-wallet-wrapper {
  background-color: purple;
  color: white;
  display: flex;
  align-items: center;
}

.connected-wallet-wrapper {
  background-color: var(--primary-color);
  color: white;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 11rem;
  /* flex-direction: column; */
}

.connected-wallet-wrapper span {
  margin-right: 10px;
}